<div class="contact" style="background: #f2f2f2;">
	<h1 style="color: #000; display: block;">Attend This Event</h1>
	<h3 style="color: #666;">We can't wait to see you there</h3>
	<form action="/thank-you" method="post" id="subForm">
		<label for="Name">
			<span>Name:</span>
			<input type="text" name="Name" value="" />
		</label>
		<label for="Email">
			<span>Email:</span>
			<input type="text" name="Email" value="" />
		</label>
		
	    <input type="hidden" name="_to" value="serenityecovillages@gmail.com" />
	    <input type="hidden" name="_subject" value="Event Signup: {{ page.title }}" />
	    <input type="text" name="_gotcha" style="display: none;" />
	    <button type="submit" class="button">Sign Me Up</button>
	</form>
</div>