---
layout: default
title: Home
navclass: /
navtitle: Home
navorder: 1
permalink: /
---

<link rel="stylesheet" href="/css/flickity.css" media="screen" />
<script src="/scripts/flickity.js"></script>
<div class="main-gallery gallery js-flickity">
	<div class="gallery-cell first-cell" style="background-image: url('/images/banners/arch.jpg');">
		<hgroup>
			<h1 class="editable">BE&nbsp;</h1>
			<p class="editable">Be your divine sovereignty...<br />Some dive in, some dabble, some commit 100% for empowerment for life. Welcome to a movement that has the potential to facilitate you to stop trying.<br />Are you ready to fully understand the Essence of your Being?</p>
			<a href="#" class="button outline white">Sign Up</a>
		</hgroup>
	</div>
	
	<div class="gallery-cell" style="background-image: url('/images/banners/cape.jpg');">
		<hgroup>
			<h1 class="editable">Do</h1>
			<p class="editable">Do what you were born here on earth for<br />Our philosophy is through self-awareness, accountability, creativity and spontaneity one may become able to co-create happiness through higher purpose, commitment, authenticity, integrity. SEVA is a movement that provides solutions for what is ready to be discovered, developed and exponentially expoundedupon.</p>
			<a href="#" class="button">Sign Up</a>
		</hgroup>
	</div>
	
	<div class="gallery-cell" style="background-image: url('/images/banners/adventure.jpg');">
		<hgroup>
			<h1 class="editable">Have</h1>
			<p class="editable">Are you willing to create like there is no tomorrow your heartfelt reality, to live your life from the power of your loving word and to have your heaven on earth?</p>
			<a href="#" class="button">Sign Up</a>
		</hgroup>
	</div>
	
	<div class="gallery-cell" style="background-image: url('/images/banners/change.jpg');">
		<hgroup>
			<h1 class="editable">Time to Be All of You</h1>
			<p class="editable">SEVA is for those ready to be the change you want to see in the world. Those who are ready to take ACTION! For those willing to be permission for others in their life as well. May you choose to BE a part of this Inspired Fearless Change Movement!</p>
			
			<a href="#" class="button">Sign Up</a>
		</hgroup>
	</div>
</div>

<section>
	<h3 class="editable">What is SEVA?</h3>
	<p class="editable">Serenity Eco Village Associations are Global Leaders providing Irresistible Solutions of Genuine Holistic Practices, Wholeness Lifestyles, Well-Being Services, Empowerment Training, Innovative Solutions for Conscientious Living.</p>
</section>

<div class="subjects">
	<!--<h3>Subjects</h3>-->
	<ul>
		{% for subject in site.subjects %}
			<li>
				<a href="{{ subject.url }}">
					<img src="{{ subject.icon_image_path }}" alt="" />
					<h5>{{ subject.title }}</h5>
				</a>
			</li>
		{% endfor %}
	</ul>
</div>

{% assign events = site.events %}
{% include events.html %}


<div class="contact">
	<h1>Contact </h1>
	<h4>Don't be shy</h4>
	<h3>We'd love to here from you</h3>
	<form action="/thank-you" method="post" id="subForm">
		<label for="Name">
			<span>Name:</span>
			<input type="text" name="Name" value="" />
		</label>
		<label for="Email">
			<span>Email:</span>
			<input type="text" name="Email" value="" />
		</label>
		<label for="Description">
			<span>Description:</span>
			<textarea name="Description" type="text" class="large"></textarea>
		</label>
		
	    <input type="hidden" name="_to" value="kevaleb@gmail.com" />
	    <input type="hidden" name="_subject" value="Contact Form" />
	    <input type="text" name="_gotcha" style="display: none;" />
	    <button type="submit" class="button">Contact Us</button>
	</form>
</div>