---
layout: default
---

<div class="banner event" style="background-image: url('{{ page.banner_image_path }}');">
	<hgroup>
		<h1>{{ page.title }}</h1>
		<h2><img src="/images/icons/marker.png" alt="marker" />{{ page.location }}</h2>
		<h2><img src="/images/icons/clock.png" alt="clock" />{{ page.event_datetime | date: "%A %l:%M %p" }}</h2>
	</hgroup>
</div>

<article>{{ content }}</article>


{% if page.show_map == true %}
<div id='map'></div>
{% endif %}




<script src="http://maps.google.com/maps/api/js?key=AIzaSyCcJFPhkoOBXSK_JPqpIyHXfQlPIQGI5ag&sensor=false"></script>
<script>
    // Define your locations: HTML content for the info window, latitude, longitude
    var locations = [
		['<h1>{{ page.title }}</h1>', {{ page.latitude }}, {{ page.longitude }},'/images/icons/marker.png'],
    ];
    
	// Map options
    var map = new google.maps.Map(document.getElementById('map'), {
      center: new google.maps.LatLng({{ page.latitude }}, {{ page.longitude }}),
      zoom: 15,
      zoomControl: true,
      zoomControlOptions: {
          style: google.maps.ZoomControlStyle.DEFAULT,
          position: google.maps.ControlPosition.RIGHT_TOP
      },
      disableDoubleClickZoom: true,
      mapTypeControl: false,
      mapTypeControlOptions: {
          style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
      },
      scaleControl: false,
      scrollwheel: false,
      panControl: true,
      streetViewControl: false,
      draggable : true,
      overviewMapControl: false,
      overviewMapControlOptions: {
          opened: false,
      },
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      styles:[{"stylers":[{"hue":"#dd0d0d"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"geometry","stylers":[{"lightness":100},{"visibility":"simplified"}]}]
    });

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 240
    });

    var markers = new Array();
    
    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {  
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: locations[i][3]
      });
      

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
</script>